.mask-custom {
    background: rgba(24, 24, 16, .2);
    border-radius: 2em;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    }
  .profile-image{
    height: 50px;
    width: 50px;
  }
  
@media (max-width:1024px){

  .mobResponsive1{
    width: 50%;
  }

  .mobResponsive2{
    word-wrap: break-word;
    width: 80%;
  }
}
@media (min-width: 501px) and (max-width: 1024px) {
  /* Your style changes here */
  .startchat {
      font-size: 10px; /* Example font size for screen sizes between 501px and 1024px */
  }
}

 