/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

// body{
//     background: linear-gradient(to bottom right, rgba(252, 203, 144, 1), rgba(213, 126, 235, 1)) no-repeat;
//     height: 100vh;
//   }

body {
  background: linear-gradient(to bottom right, rgba(252, 203, 144, 1), rgba(213, 126, 235, 1)) no-repeat;
  background-size: cover; /* Make sure the background covers the entire page */
  background-attachment: fixed; /* This will keep the background fixed when scrolling */
  height: 100vh; /* Ensure the body takes full height */
  // margin: 0; /* Remove default margin */
  // overflow: auto; /* Allow scrolling */
}
